ass-parser==1.0
pysrt==1.1.2
plexapi==4.16.1
psutil==7.0.0
requests==2.32.3
pygad==3.4.0
# vosk==0.3.45 doesn't install correctly
vosk==0.3.44
websockets==15.0
IMDbPY==2022.7.9
thefuzz[speedup]==0.19.0
Levenshtein==0.26.1
num2words==0.5.14
language-tool-python==2.9.3
# 2024-09-23 python 3.12 removed 'distutils', some packages use it, this installs it:
setuptools==75.8.2
numpy==1.26.4
scipy==1.15.2
statsmodels==0.14.4
matplotlib==3.10.0
